<img src="/images/bonvo.png" alt="beautiful image" width="100%" >
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <!--<li class="profile-username text-black text-bold text-capitalize text-center">{{name}}</li>-->
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


{{#each blogs}}

    <div class="col-md-12">
        <h2 class="profile-username text-bold text-capitalize text-left info-box-text ">{{this.name}}</h2>
        <img src="{{imageURL}}" alt="beautiful image" height="10%" width="80%"  >
        <p>{{this.description}}</p>
        <h2></h2>
        <h4>By :{{this.email}}</h4>

    </div>

{{/each}}