<img src="/images/bonvo.png" alt="beautiful image" width="100%" >

{{#if number}}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li ><a href="/addDestination">Add travel destination </a></li>-->
                    <!--<li><a href="/addHotel">Add Hotel</a></li>-->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/addDestination">Add travel destination</a></li>
                            <li><a href="/addHotel">Add Hotel</a></li>

                        </ul>
                    </li>



                </ul>

                <form class="navbar-form navbar-left" action="/getDestination" method="post">
                    <input type="hidden" name="number" value=true>

                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="travel destination" required>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <form class="navbar-form navbar-left" action="/getHotel" method="post" >
                    <input type="hidden" name="number" value=true>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="hotel" required>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <form class="navbar-form navbar-left" action="/updateTravel" method="post">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="travel destination" required>
                    </div>
                    <button type="submit" class="btn btn-default">Update</button>
                </form>
                <form class="navbar-form navbar-left" action="/updateHotel" method="post" >
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="hotel" required>
                    </div>
                    <button type="submit" class="btn btn-default">Update</button>
                </form>







                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admins <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/addAdmin">Add new admin</a></li>
                            <li><a href="#">Add new contributor</a></li>

                        </ul>
                    </li>
                    <li><a href="/SignIn">Sign Out</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

{{else}}
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>

            </ul>

        </div>
    </div>
</nav>

{{/if}}

<div class="col-md-6">
    <!--<div class="box box-primary ">-->
    <div class="box-body box-profile">

        <img src="{{imageURL}}" alt="beautiful image" height="100%" width="100%"  >

        <div class=" ">
            <h3 class="profile-username text-bold text-capitalize text-left info-box-text ">{{name}}</h3>

            <ul class="list-group list-group-unbordered">

                <li class="list-group-item">
                    <p a>{{description}}</p>
                </li>
                <!--<li class="list-group-item">-->
                    <!--<b>Rating</b>-->
                    <!--<a class="pull-right">-->
                        <!--<a class="pull-right">{{rate}}</a>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!--<input type="submit" class="form-control" name="Rate" value="Rate Destination">-->

        <!--<li><a href="">Rate hotel</a></li>-->
        <li><a href="/addDatah">Do you know more about {{name}} ?</a></li>

    </div>
</div>
<!--<div class=" " id="map" style="width:400px;height:400px"> >-->
    <!--&lt;!&ndash;<img src="{{imageURL}}" alt="beautiful image" height="100%" width="100%" >&ndash;&gt;-->
    <!--My map-->


<!--</div>-->

<div class="col-md-4">
    <div class=" box-body box-profile" id="map" style="width:550px;height:550px">
        <!--<img src="{{imageURL}}" alt="beautiful image" height="100%" width="100%" >-->
        My map


    </div>
</div>

<script>
    function initMap() {
        var uluru = {lat: {{lat}}, lng:{{long}} };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>



<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4w-DnLHXxkRhEuiOdKfv3JS9YrBYLa-M=&callback=initMap">
</script>